<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Test set for the Cool compiler">

  <test name="Semantic" enabled="true">
  	<parameter name="semanticFacade" value="coolc.compiler.CoolSemantic" />
    <classes>
      <class name="coolc.compiler.SemanticTest" />
    </classes>    
  </test>
  
</suite>
